.layout{

  .layout__region{
    padding: 0 10px;
  }//End .layout__region

}// End .layout

.page-content-wrap{
  display: flex;
}
@media screen and (max-width: 840px){
  .page-content-wrap{
    flex-wrap: wrap;
  }
}
