:root{
  --color-dark: #000;
  --color-light: #fff;
  --hover-color: #0693e3;
}


html{
  font-size: 10px;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  font-size: 1.4rem;
  line-height: 1.5;
}
