@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --color-dark: #000;
  --color-light: #fff;
  --hover-color: #0693e3;
  --yellow-color: #f9c100;
  --font-family: 'Roboto', sans-serif;
}
html {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--font-family);
  font-size: 1.4rem;
  line-height: 1.5;
}
