.header_nav {
  position: relative;
  z-index: 5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

.region.region-primary-menu {
  @include block;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav.navigation.menu--main .menu {
  width: 70%;
  min-width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;

  & .menu-item a {
    display: block;
    position: relative;


    &::before {
      display: block;
      position: absolute;
      content: "";
      left: 50%;
      right: 50%;
      bottom: 0;
      height: 3px;
      background-color: var(--hover-color);
      transition: all 0.4s ease-in-out;
    }
  }

  & .menu-item a:hover {
    &::before {
      left: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 630px) {

  .header_nav {
  box-shadow: none;

    .menu--main {
      .content .menu-toggle {
        background-color: rgba(0, 0, 0, .8);
        color: #fff;

        &::after{
          right: 17%;
        }
      }

      ul.menu {
        flex-direction: column;
        min-width: 90vw;
      }

      //End .menu.
    }

    // End .menu--main.
  }
  //End .header_nav
  .search-block-form {
    display: none;
  }
  // End .search-form

  body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle--hide {
    display: block;
  }

}
