#scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(77, 178, 236);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 900;
  transform: rotate(90deg);
}

