.green-stay-connected {
  position: relative;
  margin-bottom: 47px;

  .green-label-wrap {
    border-bottom: 2px solid var(--color-dark);
    margin-bottom: 26px;

    h2 {
      display: inline-block;
      margin-bottom: 0;
      padding: 10px;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--color-light);
      text-transform: uppercase;
      background-color: var(--color-dark);

    }

    // End h2.
  }

  // End .green-label-wrap.

  .field__item {
    .paragraph--type--follow-us-item-block {
      margin-bottom: 10px;
      padding: 0 15px;

      a {
        @include transition;
        display: flex;
        border-bottom: none;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--color-dark);

        &:hover{
          color: rgba(0,0,0,.6);
        }

        .field--name-field-icon-image {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          margin-bottom: 0;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }

        // End .field--name-field-icon-image.

        .green-ml-a{
          margin-left: auto;
        }

      }

      // End a.

    }

    // End paragraph--type--follow-us-item-block.
  }

  // End .field-connect-item.
}

// End .green-stay-connected.
