/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss (1) ***!
  \****************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
          text-decoration: underline dotted currentColor; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --color-dark: #000;
  --color-light: #fff;
  --hover-color: #0693e3;
  --yellow-color: #f9c100;
  --font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
  font-size: 1.4rem;
  line-height: 1.5;
}

header#header {
  background-color: transparent;
  background-image: none;
}

.green-top-block {
  position: relative;
  height: auto;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  background-color: var(--color-dark);
  color: #fff;
  color: var(--color-light);
}

.region-header-top-left {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.region-header-top-left div {
  margin: 5px;
}

#block-green-theme-addweathernewyork {
  display: block;
  position: relative;
  font-weight: 700;
}
#block-green-theme-addweathernewyork::before {
  display: block;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  content: "🌤";
  overflow: hidden;
}

.region-header-top-center {
  padding: 5px;
}

.navigation.menu--topnav ul.menu {
  display: flex;
  gap: 5px;
}
.navigation.menu--topnav ul.menu li a {
  color: #fff;
  color: var(--color-light);
  transition: all 0.4s ease-in-out;
}
.navigation.menu--topnav ul.menu li a:hover {
  color: #0693e3;
  color: var(--hover-color);
}

.region-header-top-right {
  max-width: 30%;
  min-width: 200px;
  margin-left: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.region-header-top-right .social-link-item {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  flex-grow: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.region-header-top-right .social-link-item:hover {
  scale: 1.2;
}
.region-header-top-right .social-link-item img {
  display: block;
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
}
.region-header-top-right .social-link-item .field--name-field-social-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.green-header.region.region-header {
  position: relative;
  height: auto;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.site-branding__logo {
  display: block;
  width: 220px;
}

.green-banner {
  position: relative;
  width: 60%;
  min-width: 470px;
  flex-shrink: 1;
}
.green-banner .green-banner__text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  max-width: 60%;
}
.green-banner img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_nav {
  position: relative;
  z-index: 5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.region.region-primary-menu {
  position: relative;
  height: auto;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav.navigation.menu--main .menu {
  width: 70%;
  min-width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
nav.navigation.menu--main .menu .menu-item a {
  display: block;
  position: relative;
}
nav.navigation.menu--main .menu .menu-item a::before {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 3px;
  background-color: #0693e3;
  background-color: var(--hover-color);
  transition: all 0.4s ease-in-out;
}
nav.navigation.menu--main .menu .menu-item a:hover::before {
  left: 0;
  right: 0;
}

.search-block-form.block-search {
  display: block;
  position: relative;
}
.search-block-form.block-search .form-search {
  display: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
  font-size: 1.6rem;
  padding-left: 30px;
  padding-right: 30px;
  bottom: -100px;
  right: 0;
  min-width: 500px;
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-position: bottom 20px center;
  background-size: calc(100% - 30px) 1px;
  background-repeat: no-repeat;
  background-color: #fff;
  outline: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.search-block-form.block-search .form-search--open {
  display: block;
  animation: openSearch 0.6s forwards;
}
@keyframes openSearch {
  from {
    opacity: 0;
    bottom: -150px;
  }
  to {
    opacity: 1;
    bottom: -100px;
  }
}
.search-block-form.block-search .search-form__submit {
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  background-size: contain;
}

footer.site-footer {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/GoldenGateBridge-001.jpg/800px-GoldenGateBridge-001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.region.region-footer-top {
  position: relative;
  height: auto;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer .block {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.site-footer__top h2 {
  border: none;
  margin-bottom: 10px;
}

.views-view-grid.horizontal .views-row {
  border: none;
}

.site-footer__top .region-footer-top .views-element-container.block.block-views h2 {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .views-row {
  padding: 0;
  margin-bottom: 5px;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  width: 350px;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body img {
  width: 160px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body .node__title a {
  font-size: 1.2rem;
  color: #fff;
  color: var(--color-light);
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body .node__title a:hover {
  text-decoration: none;
  color: #0693e3;
  color: var(--hover-color);
  border: none;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body .node__meta {
  font-size: 1.2rem;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views article.node.node--type-posts.node--view-mode-without-body .node__meta .field--name-user-picture.field--type-image {
  display: none;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content {
  width: 250px;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content .views-row {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content .views-row:hover {
  color: #0693e3;
  color: var(--hover-color);
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content .views-row:hover .views-field.views-field-name span a {
  color: #0693e3;
  color: var(--hover-color);
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content .views-row .views-field.views-field-name span a {
  border-bottom: none;
}
.site-footer__top .region-footer-top .views-element-container.block.block-views .view-popular-category .view-content .views-row .views-field.views-field-name span a:hover {
  color: #0693e3;
  color: var(--hover-color);
}

.site-footer__bottom {
  position: relative;
  height: auto;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer__bottom .region-footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.site-footer__bottom .region-footer-bottom .green-logo {
  align-self: center;
  width: 170px;
}
.site-footer__bottom .region-footer-bottom h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  color: var(--color-light);
}
.site-footer__bottom .region-footer-bottom .block-block-contentf5f78e1e-aaaa-457d-92af-dd1bfa4656c3 {
  width: 40%;
  min-width: 300px;
}
.site-footer__bottom .region-footer-bottom .block-block-contentf5f78e1e-aaaa-457d-92af-dd1bfa4656c3 p {
  font-size: 1.3rem;
  color: #eaeaea;
}
.site-footer__bottom .region-footer-bottom .block-block-contentf5f78e1e-aaaa-457d-92af-dd1bfa4656c3 p a {
  color: #0693e3;
  color: var(--hover-color);
  border-bottom: none;
}
.site-footer__bottom .region-footer-bottom .block-block-content72c743f4-3bf1-43a1-a33a-9a8ef12b7c58 .paragraph .field.field__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.site-footer__bottom .region-footer-bottom .field__item .green-social-link {
  display: block;
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
  border-bottom: none;
}

.site-footer__copy {
  max-width: none;
  max-width: initial;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.site-footer__copy .region.region-footer-copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  color: #ccc;
}
.site-footer__copy .region.region-footer-copy p {
  margin-bottom: 0;
}
.site-footer__copy .region.region-footer-copy .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.site-footer__copy .region.region-footer-copy .menu .menu-item a {
  color: inherit;
  border-bottom: none;
}
.site-footer__copy .region.region-footer-copy .menu .menu-item a:hover {
  color: #0693e3;
  color: var(--hover-color);
}

.views-element-container.block-views-blockdon-t-miss-block-1 .content {
  position: relative;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .content > h2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  color: var(--color-dark);
  padding: 5px 10px;
  min-width: 125px;
  background-color: #f9c100;
  background-color: var(--yellow-color);
}
.views-element-container.block-views-blockdon-t-miss-block-1 .content .form-type-select.form-item-dont-miss-filter .form-select ul {
  border-bottom: 2px solid #f9c100;
  border-bottom: 2px solid var(--yellow-color);
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  width: 120%;
  padding-top: 20px;
  padding-left: 130px;
  padding-right: 10px;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .content .form-type-select.form-item-dont-miss-filter .form-select ul li a {
  border-bottom: none;
  color: rgb(118, 118, 118);
}
.views-element-container.block-views-blockdon-t-miss-block-1 .views-view-grid {
  display: flex;
  flex-wrap: wrap;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
  gap: 10px;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child {
  position: relative;
  grid-column: 1/span 2;
  grid-row: 1/5;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .node__content {
  width: 100%;
  margin: 0;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .views-col article {
  display: flex;
  flex-direction: column-reverse;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .text-formatted.field.field--name-body {
  display: block;
  font-size: 1.1rem;
  line-height: 1.4;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .text-formatted.field.field--name-body strong {
  font-weight: 400;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .node__content .field--name-field-add-media {
  margin-bottom: 0;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child .node__content .field--name-field-add-media img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row:first-child header h2 a {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .views-view-grid.horizontal .views-row {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row .views-col article {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding-bottom: 0;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row .views-col article img.image-style-thumbnail {
  display: none;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .text-formatted.field.field--name-body {
  display: none;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row header h2 {
  line-height: 1;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row header h2 a {
  color: #111;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  border: none;
  transition: all 0.4s ease-in-out;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row header h2 a:hover {
  color: #f9c100;
  color: var(--yellow-color);
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row .node__content {
  width: 180px;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid .views-row img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .node__meta span {
  font-size: 1px;
  color: transparent;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .node__meta span.field--name-uid.field--type-entity-reference a {
  color: #000;
  font-size: 1.1rem;
  border-bottom: none;
  font-weight: 700;
}
.views-element-container.block-views-blockdon-t-miss-block-1 .node__meta span.field.field--name-created.field--type-created {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(118, 118, 118);
  margin-left: 10px;
}

.node__content .layout--onecol .views-element-container.block-views-blocktrending-now-block-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.node__content .layout--onecol .views-element-container.block-views-blocktrending-now-block-1:hover h2 {
  background-color: #0693e3;
  background-color: var(--hover-color);
}
.node__content .layout--onecol .views-element-container.block-views-blocktrending-now-block-1 h2 {
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #fff;
  color: var(--color-light);
  background-color: #222;
  padding: 0 10px;
}
.node__content .layout--onecol .views-element-container.block-views-blocktrending-now-block-1 .views-field.views-field-title a {
  color: #111;
  font-size: 1.3rem;
  border-bottom: none;
}
.node__content .layout--onecol .view-trending-now.view-id-trending_now.view-display-id-block_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
  min-width: 300px;
  max-width: 800px;
}
.node__content .layout--onecol .pager__items.js-pager__items {
  display: flex;
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.is-active {
  display: none;
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--next, .node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--previous {
  padding: 5px;
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--next a, .node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--previous a {
  display: block;
  position: relative;
  border-bottom: none;
  font-size: 5px;
  color: transparent;
  width: 40px;
  height: 40px;
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--next a::before, .node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--previous a::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--next a::before {
  content: ">";
}
.node__content .layout--onecol .pager__items.js-pager__items .pager__item.pager__item--previous a::before {
  content: "<";
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 5px;
  gap: 5px;
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul li {
  background-color: black;
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul li .field__item img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul li {
  display: block;
  position: relative;
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul li:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.view.view-fixed-top.view-display-id-block_1 .item-list ul li:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header {
  position: absolute;
  z-index: 5;
  left: 15px;
  bottom: 20px;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header .field--name-field-post-type.field--type-entity-reference {
  margin-bottom: 5px;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header .field--name-field-post-type.field--type-entity-reference a {
  display: inline-block;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #000;
  background-color: var(--color-dark);
  font-size: 10px;
  text-transform: uppercase;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header h2.node__title a {
  color: #fff;
  color: var(--color-light);
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 500;
  border-bottom: none;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header .node__meta .field--name-uid {
  color: #fff;
  color: var(--color-light);
  font-weight: 700;
}
.view.view-fixed-top.view-display-id-block_1 .item-list article.node--view-mode-top-post header .field--name-created {
  color: #fff;
  color: var(--color-light);
}
.view.view-fixed-top.view-display-id-block_1 .item-list li:nth-child(3) article.node--view-mode-top-post header h2.node__title a, .view.view-fixed-top.view-display-id-block_1 .item-list li:nth-child(4) article.node--view-mode-top-post header h2.node__title a {
  font-size: 1.4rem;
}

.views-element-container.block-views-blocklifestyle-news-block-1 .content {
  position: relative;
  display: flex;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .content > h2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  color: var(--color-light);
  padding: 5px 10px;
  min-width: 125px;
  background-color: #3a863d;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .form-item {
  margin-top: 0;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .form-actions.js-form-wrapper.form-wrapper {
  border-top: 2px solid #3a863d;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .content .view-filters ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: -10px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 24vw;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .content .view-filters ul a {
  border-bottom: none;
  color: #767676;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .content .view-filters ul a:hover {
  color: #3a863d;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content > div {
  width: 45%;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article {
  position: relative;
  display: flex;
  flex-direction: column;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article a img {
  display: block;
  width: 30%;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article .green_post_media {
  position: relative;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article .green_post_media:hover .field--name-field-post-type.field--type-entity-reference {
  background-color: #3a863d;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article .green_post_media .field--name-field-post-type.field--type-entity-reference {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 25px 5px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content article .green_post_media .field--name-field-post-type.field--type-entity-reference a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  color: var(--color-light);
  border-bottom: none;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article a img, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .node__content .green_title_block .node__title, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .node__content .green_title_block .node__title {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 14px;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .green_post_media .field--name-field-post-type.field--type-entity-reference, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .green_post_media .field--name-field-post-type.field--type-entity-reference {
  display: block;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .node__meta span a, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .node__meta span a {
  display: inline-block;
  color: #000;
  color: var(--color-dark);
  border-bottom: none;
  font-weight: 700;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .green_content_body, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .green_content_body {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(118, 118, 118);
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .green_content_body p, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .green_content_body p {
  margin-bottom: 0;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .green_content_body p strong, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .green_content_body p strong {
  font-weight: inherit;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div .green_content_body {
  display: none;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .node__content .green_title_block .node__title {
  margin-bottom: 6px;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .node__content .green_title_block .node__title a {
  color: #111;
  border-bottom: none;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .node__content .green_title_block .node__title a:hover {
  color: #3a863d;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .node__meta span {
  font-size: 1.1rem;
  line-height: 1em;
  color: rgb(118, 118, 118);
}
.views-element-container.block-views-blocklifestyle-news-block-1 .node__meta span a {
  display: none;
  color: inherit;
  border-bottom: none;
  font-weight: 700;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .green_content_body {
  margin-top: 16px;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .green_content_body a {
  color: rgb(118, 118, 118);
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div article .node__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div article .node__content .green_title_block {
  width: 40%;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div article .node__content .node__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div article .node__content .green_post_media .field.field--name-field-add-media {
  margin-bottom: 0;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div article .node__content .green_post_media .field.field--name-field-add-media img {
  width: 100%;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .node__content, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .node__content {
  display: block;
}
.views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(2) article .node__content .green_title_block, .views-element-container.block-views-blocklifestyle-news-block-1 .view-content div:nth-child(1) article .node__content .green_title_block {
  width: 100%;
}

.top-post__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.top-post__list li {
  width: 30%;
  min-width: 200px;
}
.top-post__list li header {
  position: relative;
}
.top-post__list li header .field--name-field-post-type {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0px 10px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}
.top-post__list li header .field--name-field-post-type:hover {
  background-color: #5d7987;
}
.top-post__list li header .field--name-field-post-type a {
  font-size: 1rem;
  border-bottom: none;
  color: #fff;
  color: var(--color-light);
}
.top-post__list li article .node__title {
  margin-top: 0;
}
.top-post__list li article .node__title a {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgb(17, 17, 17);
  transition: all 0.3s ease-in-out;
  border-bottom: none;
}
.top-post__list li article .node__title a:hover {
  color: rgba(17, 17, 17, 0.6);
}
.top-post__list li article .field--type-image {
  margin: 0;
}
.top-post__list li article .field__item img {
  margin: 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.views-element-container.block-views-blockhouse-design-block-1 > h2 {
  display: inline-block;
  position: relative;
  color: #fff;
  color: var(--color-light);
  background-color: rgb(93, 121, 135);
  padding: 5px 10px;
  margin-bottom: 0;
}
.views-element-container.block-views-blockhouse-design-block-1 ul {
  padding: 0;
}
.views-element-container.block-views-blockhouse-design-block-1 .content {
  border-top: 2px solid rgb(93, 121, 135);
  margin-top: 0;
}

.pager .pager__item.is-active {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pager .pager__items {
  text-align: left;
}
.pager .pager__item {
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}
.pager .pager__item--disabled {
  pointer-events: none;
  opacity: 0.6;
}
.pager .pager__item:active {
  background-color: #5d7987;
}
.pager .pager__item a {
  color: rgb(220, 220, 220);
  border-bottom: none;
  font-size: 1.5rem;
}
.pager .pager__item--previous {
  margin-right: 5px;
}
@media all and (max-width: 780px){
  .views-element-container.block-views-blockdon-t-miss-block-1 .view-content div.views-view-grid {
    display: flex;
  }
}
@media (max-width: 580px){
  .view.view-fixed-top.view-display-id-block_1 .item-list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .view.view-fixed-top.view-display-id-block_1 .item-list ul li {
    width: 100%;
    height: 60vw;
  }
}

/*# sourceMappingURL=main.css.map*/