{#{{ elements['content']['field_social_link'][0]['url'] }}#}
{#{{ kint() }}#}
<div class="social-link-item">
  <a href="{{ elements['content']['field_social_link'][0]['#url']  }}">{{ elements['content']['field_icon_image'] }}</a>
</div>
